<section class="section section-image-gallery section-padding-top--{{ block.paddingTop }} section-padding-bottom--{{ block.paddingBottom }}" style="background-color: {{ block.backgroundColor }};">

    {% include "partials/_ui-overlay" with {color: block.uiColor, title: "work / #{entry.title}"} %}

    <div class="grid section-image-gallery-grid" data-animation-offset="0">
        <div class="section-image-gallery-column column column-section span-8-10 gutter-l-1-10 gutter-r-1-10">
            <div class="section-image-gallery-slider">
                <ul class="list section-image-gallery-slider-list">
                    {% for image in block.images %}
                        <li class="list-item section-image-gallery-slider-list-item">
                            <img class="section-image-gallery-slider-image" src="{{ image.url }}">
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="paginator paginator-gallery list is-horizontal section-image-gallery-slider-paginator">
                {% for image in block.images %}
                    <li class="list-item list-item-paginator">
                        <a class="button button-paginator button button-paginator--{{ block.uiColor }}" data-index="{{ loop.index0 }}">
                            <span class="button-paginator-active-indicator"></span>
                            <span class="button-paginator-label"></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <nav class="section-image-gallery-slider-navigation">
        <a class="button button-gallery-navigation button-gallery-navigation--next"></a>
        <a class="button button-gallery-navigation button-gallery-navigation--previous"></a>
    </nav>

</section>
